<div class="jumbotron mt-5">
    <h2 class="heading">
        filtra noticias por pais y categoria
    </h2>
    <div class="row">
        <div class="col-lg-8 offset lg-2">
            <form (ngSubmit)="BuscarNoticia()">
                <div>
                    <label for="exampleSelect1" class="form-label mt-4">Categoria</label>
                    <select class="form-select form-select-lg" name="categoria" [(ngModel)]="categoriaSeleccionada">
                      <option *ngFor="let categoria of categorias" [value]="categoria.value">{{categoria.nombre}}</option>
                    </select>
                  </div>
                  <div>
                    <label for="exampleSelect1" class="form-label mt-4">Paises</label>
                    <select class="form-select form-select-lg" name="pais" [(ngModel)]="paisSeleccionado">
                      <option *ngFor="let pais of paises" [value]="pais.value">{{pais.nombre}}</option>
                    </select>
                  </div>
                  <button class="btn btn-primary btn-block btn-lg mt-5">
                    buscar
                </button>
            </form>

        </div>
    </div>
</div>
